.backg{
    padding-left: 600px;
    padding-right: 650px;
    padding-bottom: 100px;
}
.title{
    padding-bottom: 1000000000px;
}
.feature{
    padding-left: 300px;
    padding-bottom: 20px;
}
.contact{
    padding-left: 10px;
}